<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title box18
        link(rel="stylesheet", href="/css/styles.css")
    body
        .box
        .screen
            .screen__a1
            .screen__a2
            .screen__a3